<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byDate" datePattern="yyyyMMdd"/>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>log/PartnerIntgLogFile-${byDate}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="fileAppender" />
    </root>
    <logger name="org.hibernate.type" level="ALL" />
    <logger name="org.hibernate" level="ALL" />
  </configuration>